.button {
    -fx-background-color:  #271E15;
    -fx-font-family: "Ravie";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.tree-table-view {
    -fx-background-color:  #5B432D;
    -fx-border-color:  #111725;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.tree-table-row-cell {
    -fx-background-color: #F3EA8F;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #F9F9F9;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected:odd {
    -fx-background-color: #7CBF60;
}

.tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
    -fx-table-cell-border-color: transparent;
}

.tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}
